# See https://help.github.com/ignore-files/ for more about ignoring files.

# Generated content & submodules
/react/build
/static

# Python/Django
.venv
*.pyc
# *.db
# *.sqlite3
.logs/*.log

# Unused & temp files
\!UNUSED
~*
*_
zia*
*.log
log.txt
*.sw?
*~
\!ARC*

# Include special jest files/folders
!__mocks__
!__snapshots__
!__tests__

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
