.App {
  $default-color: #666;
  color: $default-color;
  &-Menu {
    margin: 5px;
    $link-color: #09f;
    &Item {
      margin: 5px;
      color: $link-color;
      text-decoration: none;
      &.active {
        color: color($link-color shade(30));
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-Page {
    margin: 10px;
  }
}
